<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sajjat Hossain</title>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <script src="../../static/js/loadProjects.js" defer></script>
    <script src="../../static/js/loadNavLinks.js" defer></script>
    <script src="../../static/js/script.js" defer></script>
    <script src="../../static/js/autoTypeHomeProgrammingLanguage.js" defer></script>

</head>
<body>

<!--Navbar codes start here!-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between float-left">
    <a class="navbar-brand h1" href="/">

    <!--    Navbar Card code starts here!    -->
        <div class="card bg-dark" id="logoCard">
            <img class="card-img-top rounded-circle card-outline-warning img-thumbnail" src="../../static/images/s1.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Sajjat Hossain</p>
            </div>
        </div>
    <!--  Navbar card code Ends Here!  -->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav h5" id="navLinks">
<!--     Navbar Links start here!       -->
            <!--  Navbar Links are loaded Dynamically !-->
<!--    Navbar Links end here!    -->
        </div>
    </div>

</nav>
<!--Navbar codes End here!-->






<!--Main section starts here!-->
<main class="float-right">
    <div class="container pt-5 pr-2" id="homePage">
<!--   Name and about section code starts here!     -->
        <div class="hpName"><div class="vrBar bg-warning"></div><div class="name">Sajjat Hossain</div></div>
        <h3 class="" id="progLang">Python | PHP | JavaScript | Java | C</h3>
        <div class=" text-dark" id="someDescription">
            Hello! I'm Sajjat Hossain. Completed my BSc in CSE from Ranada Prasad Shaha University.
            I've worked on several web technologies while completing my degree. I'm passionate about
            learning & working with new technologies that will make my works easier. Also, will help me
            deliver my products as soon as possible.
        </div>
<!--   Name and about section ends here!     -->

    <hr class="bg-warning">

<!--   Technology Card Code starts here!     -->
        <div class="hpName " id="programmingLanguages">
            <div class="vrBar bg-warning"></div>
            <div class="name">
                <div id="text" ></div>
            </div>
        </div>

        <div class="row mt-4" id="languages"><!---Tech row starts -->
        <!--     Everything here is loaded Dynamically      -->
        </div> <!-- Tech Row Ends --->
<!--    Technology card code ends here -->


    <hr class="bg-warning">

<!--   Qualification Code Starts Here!     -->


<!--   Qualification Code Endss Here!     -->


    </div>

</main>
<!--Main section ends here-->

</body>
</html>