body{
    /*background-color: #161e32 !important;*/
    height: 100vh !important;
    width: 100vw !important;
}


.navbar {
    float: left !important;
    height: 100% !important;
    width: 15vw !important;
    display: block !important;
    position: fixed !important;
    border-right: 3px solid orange !important;
    border-radius: 15px;
    box-shadow: 5px 0px 5px #4f412b !important;
}

.navImage {
    border: 5px solid orange !important;
    border-radius: 50% !important;
    box-shadow: 5px 5px 5px #4f412b !important;
}

.navbar .navbar-nav{
    display: block !important;
}

#logoCard {
    outline: none !important;
    border: none !important;
}

@media screen and (max-width : 992px){
    .navbar {
        float: left !important;
        height: 100% !important;
        width: 15vw !important;
        display: block !important;
        position: fixed !important;
    }

    .navbar .navbar-nav{
        display: block !important;
    }

    #logoCard {
        display: none;
    }
}

main{
    height: 100vh !important;
    width: 85vw !important;
    float: left !important;
    position: relative;
}

.hpName {
    font-size: 52px;
    font-weight: bold;
    display: flex;
    column-gap: 10px;
    text-decoration: none !important;
}

#homePage {

}

.vrBar {
    margin-top: 10px;
    background-color: orangered;
    height: 58px;
    width: 8px;
}

.progLang {
    color: #c6c4c4;
}

#text{
    position: absolute;
}

#someDescription{
    font-size: 18px;
}

.navIcons {
    margin-right: 5px;
    margin-left: 10px;
}
.progCard{
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .4s transform ease-in-out;
    padding: 2px 4px !important;
    cursor: pointer;
    min-height: 30vh !important;
    max-height: 30vh !important;
    min-width: 18vw !important;
    max-width: 30vw !important;
}

.progCard:hover{
    transform: scale(1.05);
    color: white !important;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.progCard h3{
    font-weight: 600;
}

.progCard img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.progCard .btn {
    float: right !important;
}

.carouselCSS{
    min-height: 25vh !important;
}