body{
    background-color: #eeeeee;
    height: 100vh;
    width: 100vw;
}

.navbar {
    float: left !important;
    height: 100% !important;
    width: 15vw !important;
    display: block !important;
    position: fixed !important;
}

.navbar .navbar-nav{
    display: block !important;
}

#logoCard {
    outline: none !important;
    border: none !important;
}

@media screen and (max-width : 992px){
    .navbar {
        float: left !important;
        height: 100% !important;
        width: 15vw !important;
        display: block !important;
        position: fixed !important;
    }

    .navbar .navbar-nav{
        display: block !important;
    }

    #logoCard {
        display: none;
    }
}

main{
    height: 100vh !important;
    width: 85vw !important;
    float: left !important;
    position: relative;
}

.hpName {
    font-size: 52px;
    font-weight: bold;
    display: flex;
    column-gap: 10px;
    text-decoration: none !important;
}

#homePage {

}

.vrBar {
    margin-top: 10px;
    background-color: orangered;
    height: 58px;
    width: 8px;
}

.progLang {
    color: #c6c4c4;
}

#text{
    position: absolute;
}

#someDescription{
    font-size: 18px;
}

.navIcons {
    margin-right: 5px;
    margin-left: 10px;
}
.progCard{
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 3px 2px !important;
    cursor: pointer;
    height: 30vh !important;
}

.progCard:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.progCard h3{
    font-weight: 600;
}

.progCard img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}